.background {
    background-color: var(--color-black);
    height: 30vh;
}

.mainColumn {
    width: 60% !important;
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    height: 100%;
    color: var(--color-white);
}

.adjust {
    padding: 0px;
    margin: 3px;
}