.cust {
    border-radius: 0.5rem;
    background-color: var(--color-white);
    border: 1px solid black;
    width: 30vw;
}

input {
    border-color: white;
}

.searchSection {
    border-left: 1px solid black;
    height: 2.5rem;
    width: 3.5rem;
}

.searchBar {
    width: 100%;
}

.innerBox {
    width: 40vw !important;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem !important;
}

.removePadding {
    padding: 5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchButtonSectoion {
    border-left: 1px solid black;

}
