

.searchBar {
    width: 100%;
}

.innerBox {
    width: 40vw !important;
    background-color: white;
    border: 1.7px solid black;
    border-radius: 0.5rem !important;
}

.removePadding {
    padding: 5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchButtonSectoion {
    border-left: 1.7px solid black;

}
